@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@400;500;700&family=Raleway:wght@400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

header .header__banner__desk {
  position: relative;
  width: 100%;
  height: 747px;
}
header .header__banner__desk::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #252B49;
  opacity: 0.8;
  width: 99.5%;
}
header .header__up {
  height: 100px;
  width: 100%;
  position: absolute;
  display: flex;
  color: #fff;
  justify-content: space-around;
  z-index: 15;
  top: 0;
  margin: 0 auto;
  align-items: center;
}
header .header__up #banner {
  margin-left: 50px;
}
header .header__up .burger {
  display: none;
}
header .header__up nav button {
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  width: 134px;
  height: 100px;
  background-color: transparent;
  border: none;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
header .header__up nav button:hover {
  border-bottom: 3px solid #BABBC5;
}
header .header__up nav button:active {
  color: #E71414;
  border-bottom: 3px solid #E71414;
}
header .header__up .separator--light {
  border: 0.5px solid #BABBC5;
  width: 1260px;
  position: absolute;
  top: 100px;
}
header .header__text {
  display: flex;
  justify-content: center;
}
header .header__text br {
  display: none;
}
header .header__text h1 {
  position: absolute;
  color: #FFF;
  font-size: 64px;
  font-weight: 900;
  z-index: 100;
  top: 230px;
  width: 1170px;
  height: 150px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
header .header__text p {
  position: absolute;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  z-index: 100;
  top: 230px;
  width: 1170px;
  margin-top: 182px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
header .header__text button {
  background: #FF4343;
  position: absolute;
  z-index: 100;
  top: 550px;
  height: 80px;
  width: 370px;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
header .header__text button:hover {
  background: #E71414;
}
header .header__text button:active {
  box-shadow: 4px 4px 30px 0px #FF4343;
}

@media screen and (max-width: 1024px) {
  header {
    width: 100%;
    height: 100vh;
  }
  header .header__banner__desk::after {
    width: 1024px;
    height: 748px;
  }
  header .header__banner__desk .header__up {
    width: 96%;
  }
  header .header__banner__desk .header__up nav button {
    font-size: 12px;
    width: 112px;
  }
  header .header__banner__desk .header__up .separator--light {
    width: 984px;
    margin-left: 35px;
  }
  header .header__banner__desk .header__text h1 {
    font-size: 48px;
    top: 257px;
    width: 984px;
    height: 112px;
  }
  header .header__banner__desk .header__text p {
    font-size: 18px;
    top: 230px;
    width: 984px;
    margin-top: 182px;
  }
  header .header__banner__desk .header__text button {
    top: 550px;
    width: 314px;
  }
}
@media screen and (max-width: 320px) {
  header {
    width: 100%;
    height: 547px;
    margin-bottom: 700px;
  }
  header .header__banner__desk {
    width: 100%;
    height: 547px;
  }
  header .header__banner__desk::after {
    width: 320px;
    height: 748px;
  }
  header .header__banner__desk .header__up {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  header .header__banner__desk .header__up nav button {
    display: none;
  }
  header .header__banner__desk .header__up .burger button {
    background: transparent;
    border: none;
  }
  header .header__banner__desk .header__up .burger {
    display: contents;
  }
  header .header__banner__desk .header__up .burger .burger__menu div {
    border: 1px solid #000;
  }
  header .header__banner__desk .header__up .burger .burger__menu .display-none {
    display: none;
  }
  header .header__banner__desk .header__up .separator--light {
    display: none;
  }
  header .header__banner__desk .header__up #banner {
    width: 160px;
    height: 65px;
  }
  header .header__banner__desk .header__text br {
    display: initial;
  }
  header .header__banner__desk .header__text h1 {
    font-size: 36px;
    top: 155px;
    width: 280px;
    height: 210px;
    margin-bottom: 33px;
  }
  header .header__banner__desk .header__text p {
    font-size: 14px;
    width: 280px;
    margin-bottom: 50px;
    height: 64px;
  }
  header .header__banner__desk .header__text button {
    width: 280px;
  }
}
.features {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.features .features__subcontainer {
  width: 1170px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 300px;
}
.features .features__subcontainer .features__item {
  width: 370px;
  height: 306px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 89px 0;
}
.features .features__subcontainer .features__item img {
  height: 100px;
  width: 100px;
}
.features .features__subcontainer .features__item h4 {
  color: #2D3033;
  font-size: 24px;
  font-weight: 900;
  width: 370px;
  margin: 30px auto 20px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.features .features__subcontainer .features__item h5 {
  color: #6C7279;
  font-size: 18px;
  font-weight: 400;
  width: 370px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 1024px) {
  .features {
    width: 96.8%;
  }
  .features .features__subcontainer {
    width: 992px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }
  .features .features__subcontainer .features__item {
    width: 314px;
    height: 237px;
    margin: 0 0px 49px 0;
  }
  .features .features__subcontainer .features__item img {
    height: 84px;
    width: 85px;
  }
  .features .features__subcontainer .features__item h4 {
    font-size: 18px;
    width: 315px;
    margin: 23px auto 4px;
  }
  .features .features__subcontainer .features__item h5 {
    font-size: 14px;
    width: 314px;
  }
}
@media screen and (max-width: 320px) {
  .features {
    width: 87.7%;
    margin: 500px auto;
  }
  .features .features__subcontainer {
    width: 281px;
    flex-wrap: wrap;
  }
  .features .features__subcontainer .features__item {
    width: 280px;
    height: 222px;
    margin-bottom: 41px;
  }
  .features .features__subcontainer .features__item img {
    height: 74px;
    width: 75px;
  }
  .features .features__subcontainer .features__item h4 {
    font-size: 18px;
    width: 280px;
    margin: 21px auto 0px;
  }
  .features .features__subcontainer .features__item h5 {
    font-size: 14px;
    width: 280px;
  }
}
.works {
  width: 100%;
  height: 100vh;
  margin: 250px 0 0;
  overflow: hidden;
}

.works__subcontainer__main {
  width: 1510px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.5px;
}

.works__subcontainer figure {
  position: relative;
}

.works__subcontainer figure figcaption {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 110px;
  width: 378px;
  height: 340px;
  text-align: center;
}

.works__subcontainer__item {
  background: rgba(255, 67, 67, 0.8);
  width: 378px;
  height: 340px;
}

figure.works__subcontainer__item:hover img {
  opacity: 0.2;
}

figure.works__subcontainer__item h5 {
  transform: translate3d(100%, 0, 0);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 380px;
  text-transform: capitalize;
}

figure.works__subcontainer__item h4 {
  transform: translate3d(100%, 0, 0);
  width: 380px;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 21px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

figure.works__subcontainer__item:hover h5 {
  transform: translate3d(0, 0, 0);
}

figure.works__subcontainer__item:hover h4 {
  transform: translate3d(0, 0, 0);
}

figure.works__subcontainer__item:active img {
  opacity: 0.01;
}

@media screen and (max-width: 1024px) {
  .works {
    height: 460px;
    margin-top: 0;
  }
  .works__subcontainer__main {
    width: 1024px;
  }
  .works__subcontainer figure figcaption {
    width: 257px;
    height: 230px;
    margin-top: -25px;
  }
  .works__subcontainer__item {
    width: 257px;
    height: 230px;
  }
  .works__subcontainer__item #work__photo {
    width: 257px;
    height: 230px;
  }
  figure.works__subcontainer__item h5 {
    width: 258px;
    font-size: 14px;
  }
  figure.works__subcontainer__item h4 {
    font-size: 18px;
    margin-left: -60px;
  }
}
@media screen and (max-width: 320px) {
  .works {
    margin-bottom: 0;
    width: 100%;
    height: 600px;
  }
  .works__subcontainer__main {
    width: 320px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .works__subcontainer figure figcaption {
    width: 160px;
    height: 144px;
  }
  .works__subcontainer__item {
    width: 160px;
    height: 144px;
  }
  .works__subcontainer__item #work__photo {
    width: 160px;
    height: 144px;
  }
  figure.works__subcontainer__item h5 {
    width: 160px;
    margin-left: -8px;
  }
  figure.works__subcontainer__item h4 {
    margin-top: -40px;
    margin-left: -117px;
  }
}
.team {
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .team__subcontainer {
  width: 1170px;
  height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team .team__subcontainer article {
  margin-right: 30px;
}
.team .team__subcontainer h4 {
  color: #2D3033;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 30px auto 5px 0;
}
.team .team__subcontainer p {
  color: #FF4343;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.team .team__subcontainer h5 {
  color: #6C7279;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 38px;
}

@media screen and (max-width: 1024px) {
  .team {
    width: 96.8%;
    height: 675px;
  }
  .team .team__subcontainer {
    width: 984px;
    height: 520px;
    margin-left: 50px;
  }
  .team .team__subcontainer article {
    margin-right: 25px;
  }
  .team .team__subcontainer #team__person {
    height: 227px;
    width: 227px;
  }
  .team .team__subcontainer h4 {
    font-size: 18px;
    margin: 25px auto 5px 0;
  }
  .team .team__subcontainer p {
    font-size: 14px;
    margin-bottom: 23px;
  }
  .team .team__subcontainer h5 {
    font-size: 14px;
    margin-bottom: 39px;
  }
}
@media screen and (max-width: 320px) {
  .team {
    width: 100%;
    height: 100vh;
  }
  .team .team__subcontainer {
    top: 0;
    margin-top: 0;
    width: 280px;
    height: 521px;
    flex-wrap: wrap;
  }
  .team .team__subcontainer article {
    margin-right: 50px;
  }
  .team .team__subcontainer #team__person {
    height: 227px;
    width: 280px;
  }
  .team .team__subcontainer h4 {
    margin: 25px 0 5px 25px;
  }
  .team .team__subcontainer p {
    margin: 0 0 38px 25px;
  }
  .team .team__subcontainer h5 {
    margin: 0 0 55px 25px;
  }
  .team .team__subcontainer .team__subcontainer__social {
    margin: 0 0 49px 25px;
  }
}
.testimonials {
  width: 100%;
  height: 535px;
}
.testimonials .testimonials__box {
  display: flex;
}
.testimonials img {
  height: 490px;
}
.testimonials .testimonials__text {
  display: flex;
  justify-content: center;
}
.testimonials .rectangle {
  height: 490px;
  width: 770px;
  background: #5C3249;
  position: relative;
}
.testimonials .testimonials__text h2 {
  position: absolute;
  color: #fff;
  font-family: "Cardo";
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  text-transform: capitalize;
  width: 471px;
  margin-top: 116px;
}
.testimonials .testimonials__text h6 {
  position: absolute;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-top: 346px;
  width: 471px;
}
.testimonials .testimonials__dots img {
  height: 14px;
  width: 170px;
  margin: 31px 670px 0;
}

@media screen and (max-width: 1024px) {
  .testimonials {
    width: 96.8%;
    height: 332px;
  }
  .testimonials img {
    height: 332px;
    width: 502px;
  }
  .testimonials .rectangle {
    height: 332px;
    width: 522px;
  }
  .testimonials .testimonials__text h2 {
    font-size: 24px;
    width: 330px;
    margin-top: 50px;
  }
  .testimonials .testimonials__text h6 {
    font-size: 12px;
    margin-top: 190px;
    width: 330px;
  }
  .testimonials .testimonials__dots img {
    height: 10px;
    width: 150px;
    margin: 31px 436px 0;
  }
}
@media screen and (max-width: 320px) {
  .testimonials {
    margin-top: 1750px;
    width: 96.8%;
    height: 571px;
  }
  .testimonials .testimonials__box {
    flex-wrap: wrap;
  }
  .testimonials img {
    height: 212px;
    width: 320px;
  }
  .testimonials .rectangle {
    height: 326px;
    width: 320px;
  }
  .testimonials .testimonials__text h2 {
    width: 275px;
    margin-top: 50px;
    text-align: center;
  }
  .testimonials .testimonials__text h6 {
    margin-top: 250px;
    width: 275px;
  }
  .testimonials .testimonials__dots img {
    height: 10px;
    width: 130px;
    margin: 23px 95px 0;
  }
}
.download {
  height: 300px;
  width: 100%;
}
.download h3 {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  margin: 114px auto 5px;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.download h5 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 48px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.download button {
  background: #FF4343;
  height: 80px;
  width: 370px;
  border: none;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  margin: 0 570px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.download button:hover {
  background: #E71414;
}
.download button:active {
  box-shadow: 4px 4px 30px 0px #FF4343;
}

@media screen and (max-width: 1024px) {
  .download {
    width: 96.8%;
    height: 300px;
  }
  .download h3 {
    font-size: 24px;
    margin: 114px auto 5px;
    height: 60px;
  }
  .download h5 {
    font-size: 14px;
    margin-left: 20px;
    width: 984px;
    margin-bottom: 43px;
    height: 16px;
  }
  .download button {
    height: 80px;
    width: 314px;
    font-size: 18px;
    margin: 0 355px;
  }
}
@media screen and (max-width: 320px) {
  .download {
    width: 100%;
    height: 285px;
  }
  .download h3 {
    font-size: 18px;
    margin: 35px auto 3px;
    height: 80px;
  }
  .download h5 {
    font-size: 13px;
    width: 279px;
    margin-bottom: 15px;
    height: 30px;
  }
  .download button {
    width: 279px;
    margin: 0 10px;
  }
}
footer {
  height: 341px;
  width: 100%;
}
footer .footer__top {
  position: relative;
}
footer .footer__top #footer__top--blue {
  position: absolute;
}
footer .footer__top .footer__top__text {
  display: flex;
  position: absolute;
  margin: 71px 170px;
}
footer .footer__top .footer__top__text .footer__top__text article {
  height: 113px;
}
footer .footer__top .footer__top__text--top {
  width: 370px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 29px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
footer .footer__top h5 {
  width: 370px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
footer .footer__top__text--social img {
  margin: 15px -70px 0 95px;
  height: 39px;
  width: 39px;
}

footer .footer__bottom {
  position: relative;
}
footer .footer__bottom #footer__bottom--blue {
  position: absolute;
  top: 251px;
}
footer .footer__bottom .footer__bottom__text {
  text-align: center;
  width: 370px;
  position: absolute;
  margin: 275px 550px 0;
  color: #808080;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
footer .footer__bottom .colortext {
  color: #fff;
}

@media screen and (max-width: 1024px) {
  footer {
    height: 230px;
    width: 100%;
  }
  footer .footer__top #footer__top--blue {
    height: 230px;
    width: 1024px;
  }
  footer .footer__top .footer__top__text {
    margin: 47px 45px;
  }
  footer .footer__top .footer__top__text .footer__top__text article {
    height: 80px;
  }
  footer .footer__top .footer__top__text--top {
    width: 315px;
    font-size: 14px;
    margin-bottom: 16px;
  }
  footer .footer__top h5 {
    width: 315px;
    font-size: 14px;
  }
  footer .footer__top__text--social img {
    margin: 20px -70px 0 90px;
    height: 33px;
    width: 33px;
  }
  footer .footer__bottom #footer__bottom--blue {
    top: 230px;
  }
  footer .footer__bottom .footer__bottom__text {
    margin: 250px 355px 0;
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  footer {
    height: 540px;
    width: 100%;
  }
  footer .footer__top {
    height: 450px;
    width: 100%;
    background: #353C65;
  }
  footer .footer__top #footer__top--blue {
    display: none;
  }
  footer .footer__top .footer__top__text {
    margin: 34px 45px;
    flex-wrap: wrap;
  }
  footer .footer__top .footer__top__text .footer__top__text article {
    height: 66px;
  }
  footer .footer__top .footer__top__text--top {
    width: 280px;
    margin: 0 0 34px -30px;
  }
  footer .footer__top h5 {
    width: 280px;
    margin: 0 0px 69px -30px;
  }
  footer .footer__top__text--social img {
    margin: 10px -10px 59px 30px;
  }
  footer .footer__bottom {
    height: 90px;
    width: 100%;
    background: #2C3154;
    top: 450px;
  }
  footer .footer__bottom #footer__bottom--blue {
    display: none;
  }
  footer .footer__bottom .footer__bottom__text {
    margin: 25px -30px 0;
  }
}/*# sourceMappingURL=main.css.map */